extend layout

block content
  div.welcome
    div.welcome-bubbles
      div.welcome-bubble.me-welcome-bubble(data-state-name='me')
        img(src="/public/images/me.png" alt="Picture of Max")
      div.welcome-bubble.work-welcome-bubble(data-state-name='work')
        img(src="/public/images/work.png" alt="Redbox Digital logo")
      div.welcome-bubble.university-welcome-bubble(data-state-name='university')
        img(src="/public/images/university.png" alt="University of York logo")
    div.welcome-descriptions
      div.me-welcome-description!= me
      div.work-welcome-description!= work
      div.university-welcome-description!= university
