doctype html
html.no-js
  head
    title= title
    link(rel='stylesheet', href='/public/css/main.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.js')
  body
    block content
    include script
